table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}
th, td{
    width: 10%;
    padding: 1.3em;
}
thead{
    line-height: 20%;
    font-size: x-large;
    color: #ffffff;
}
thead>tr>th:first-child{
    width: 20%;
    border-radius: 15px 0 0 0;
    font-size: medium;   
    background-color: #7987ac;
}
thead>tr>th>h2:not(:first-child){
    font-size: 200%;
}
thead>tr>th:nth-child(2){
    background-color: #4f628d;
}
thead>tr>th:nth-child(3){
    background-color: #2f4173;
}
thead>tr>th:nth-child(4){
    background-color: #162954;
}
thead>tr>th:last-child{
    border-radius: 0 15px 0 0;
    background-color: #07153a;
}
tbody>tr:nth-child(odd)>td:nth-child(odd),
tfoot>tr:nth-child(odd)>th:nth-child(odd){
    background-color: #dbdbdb;
}
tbody>tr:nth-child(even)>td:nth-child(odd){
    background-color: #ececec;
}
tbody>tr>td:not(:first-child){
    text-align: center;
}
tbody>tr:nth-child(odd),
tfoot>tr:nth-child(odd){
    background-color: #e7e7e7;
}
tbody>tr:nth-child(even){
    background-color: #f3f3f3;
}
tfoot>tr>th:first-child{
    border-radius: 0 0 0 15px;
}
tfoot>tr>th:last-child{
    border-radius: 0 0 15px 0;
}
button{
    text-transform: uppercase;
}